.popover.hover-popover.pdf-embed,
.popover.hover-popover {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

/* .block-language-pdf a {
    pointer-events: none !important;
    cursor: default !important;
} */